*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background: #121212;
}

h1{
    color: aliceblue;
    font-size: 28px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #2D1B4E;
}

.menu{
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a{
    color: #E0E0E0;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover{
    color: #00F5FF;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    gap: 50px;
}

.htexto{
    width: 500px;
}

.htexto h2{
    font-size: 50px;
    margin-bottom: 20px;
    color: #E0E0E0;
}

.htexto p{
    margin-bottom: 20px;
    line-height: 1.5;
    color: #E0E0E0;
}

.htexto button{
    padding: 12px 45px;
    border: none;
    background: #8A2BE2;
    color: #E0E0E0;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.himg img{
    width: 600px;
    border-radius: 20px;
    max-width: 100%;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px;
    flex-wrap: wrap;
}

.card{
    width: 200px;
    background: #2D1B4E;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-13px);
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3, .card p{
    color: #E0E0E0;
    padding: 15px;
}

